body {
  margin: 0px;
  font-family: Lowvetica, sans-serif;
}
.topnav {
  position:relative;
  min-height: 12vh;
  background-color: #FF931E;
  width: 100%;
}
.logo {
  max-height: 8vh;
  margin: 2vh;
  margin-left: 50px;
  display: inline;
  border: 2px solid #000;
}
button {
  letter-spacing: 2px;
  font-weight:700;
  font-size: 1.7em;
  font-family: Lowvetica, sans-serif;
  border-radius: 2px;
  background-color: #FF931E;
  padding: 0.7em 0.8em;
  border: 0px;
  height: 8vh;
  color: #000;
}
button:hover {
  color: #808080;
}
ul {
  padding-top: 1vh;
  padding-right: 4vw;
  float: right;
  list-style-type: none;
  display: inline;
}
li {
  padding-left: 1vw;
  display: inline;
}
.landing {
  position: sticky;
  margin: 0;
  background-color: #fbfef9;
  background-size: cover;
  height: 87vh;
}
.CTA {
  margin: 0;
  position: relative;
  top: 12%;
  left: 11%;
  background-color: #0e79b2;
  display: block;
  min-width: 650px;
  width: 650px;
  min-height: 408px;
  font-family: "dejavu sans", sans-serif;
  color: #fbfef9;
  font-weight: lighter;
  text-align: center;
}
#line {
  margin: 40px auto;
  width: 65%;
}
.CTA > h2 {
  font-weight: lighter;
  margin: 0px;
  padding: 5px;
  Letter-spacing: 1px;
}
#customerTrigger {
  border-radius: 0;
  background-color: #191923;
  border: 0px;
  color: #afafaf;
}
.aboutUs {
  padding: 0px;
  padding-top: 8px;
  margin-bottom: 20px;
}
.gridContainer {
  display: grid;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 50px;
}
.photoOverlay {
  z-index: -1;
  background-color: gray;
  opacity: 0.4;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#img-1 {
  background-image: url('../img/conveniencePhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-size: cover;
  background-position: 50% 85%;
}
#overlay-1>h3 {
  color: white;
  font-family: Lowvetica, sans-serif;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 70%;
}
#img-2 {
  background-image: url('../img/efficiencyPhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-position: 73% 59%;
}
#overlay-2 {
  background-color: #cea589;
}
#overlay-2>h3 {
  color: white;
  font-family: Lowvetica, sans-serif;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 8%;
}
#img-3 {
  background-image: url('../img/partnershipPhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-position: 31% 33%;
  background-size: 110%;
}
#overlay-3>h3 {
  color: white;
  font-family: Lowvetica, sans-serif;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 70%;
}
#img-4 {
  background-image: url('../img/productivityPhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-position: 21% 53%;
  background-size: 100%;
}
#overlay-4>h3 {
  color: white;
  font-family: Lowvetica, sans-serif;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 8%;
}
.backgroundBlend {
  background-blend-mode:luminosity;
}
.contactUs {
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 10px;
  background-color: #ff931E;
}
.contactGridContainer {
  padding: auto;
  display: inline-grid;
  grid-template: 50px 150px 150px/ 300px 300px;
  font-family: "Dejavu sans", sans-serif;
  padding-left: 29%;
}
.contactGridContainer h3 {
  text-align: center;
}
.contactGridContainer h4 {
  text-align: center;
  margin-bottom: 3px;
}
.contactGridContainer h6{
  margin-bottom: 3px;
  margin-top: 4px;
}
#contact-1 {
  grid-column: 1 / span 2;
}
.contactGridContainer p {
  margin-top: 1px;
  margin-bottom: 3px;
}
#contact-2 {
  grid-row: 2 / span 2;
}
#scrollPrompt {
  position: fixed;
  width: 100%;
  bottom: 0;
  /* bottom: -21vh; */
  background-color: #ff931e;
  height: 6%;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 3px;
}
#scrollPrompt > p {
  padding: 1%;
  margin: auto;
  font-weight: bold;
}
