body {
  margin: 0px;
}
.topnav {
  position:relative;
  min-height: 12vh;
  background-color: #FF931E;
  width: 100%;
}
.logo {
  max-height: 8vh;
  margin: 2vh;
  margin-left: 50px;
  display: inline;
  border: 2px solid #222;
}
button {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.7em;
  font-family: Lowvetica;
  border-radius: 2px;
  background-color: #FF931E;
  padding: 0.7em 0.8em;
  border: 0px;
  height: 8vh;
  color: #1d1d1d;
}
button:hover {
  color: #808080;
}
ul {
  padding-top: 1vh;
  padding-right: 4vw;
  float: right;
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}
li {
  padding-left: 1vw;
  display: inline;
}
.aboutUs {
  padding: 0px;
  padding-top: 8px;
}
.gridContainer {
  display: grid;
  grid-template-rows: 350px 350px 350px;
  grid-gap: 8px;
}
#img-1 {
  background-image: url('../img/conveniencePhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-blend-mode:luminosity;
  background-size: cover;
  background-position: 50% 85%;
}
.photoOverlay {
  background-color: gray;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.photoOverlay>h3 {
  color: white;
  font-family: Lowvetica;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 70%;
}
