@font-face {
  font-family: 'Lowvetica';
  src: url(../fonts/Lowvetica.ttf) format('truetype');
}

a {
  text-decoration: none;
}
body {
  margin: 0px;
  font-family: 'Lowvetica', sans-serif;
}
#greyout {
  position: absolute;
  top:0;
  background-color: grey;
  opacity: 0;
  width: 100%;
  transition: opacity .5s;
  visibility: hidden;
  z-index: 3;
}
.topnav {
  position:relative;
  min-height: 12vh;
  background-color: #FF931E;
  width: 100%;
}
.logo {
  max-height: 8vh;
  margin: 2vh;
  margin-left: 50px;
  display: inline;
  border: 2px solid #000;
}
button {
  letter-spacing: 2px;
  font-weight:700;
  font-size: 1.7em;
  font-family: 'Lowvetica', sans-serif;
  border-radius: 2px;
  background-color: #FF931E;
  padding: 0.7em 0.8em;
  border: 0px;
  height: 8vh;
  color: #000;
  cursor: pointer;
}
button:hover {
  color: #808080;
}
ul {
  padding-top: 1vh;
  padding-right: 4vw;
  float: right;
  list-style-type: none;
  display: inline;
}
li {
  padding-left: 1vw;
  display: inline;
}
.landing {
  /* position: sticky; */
  margin: auto;
  background-color: #fbfef9;
  background-image: url('../img/bgPhoto.jpg');
  background-position: 25% 100%;
  background-clip:border-box;
  height: 87vh;
}
.CTA {
  /* margin-top: 9%;
  margin-right: auto;
  margin-left: 15%;
  margin-bottom: auto; */
  position: absolute;
  top: 22vh;
  left: 15vw;
  background-color: #0e79b2;
  display: inline-block;
  min-width: 650px;
  width: 600px;
  height: 23em;
  font-family: "dejavu sans", sans-serif;
  color: #fbfef9;
  font-weight: lighter;
  text-align: center;
}
#line {
  margin: 30px auto;
  width: 65%;
}
.CTA > h2 {
  font-weight: lighter;
  margin: 0px;
  padding: 5px;
  Letter-spacing: 1px;
}
#customerTrigger {
  border-radius: 0;
  background-color: #171796;
  border: 0px;
  color: #fff;
  padding: 1em;
  cursor: pointer;
  padding-bottom: 1.5em;
}
.aboutUs {
  padding: 0px;
  padding-top: 8px;
  margin-bottom: 50px;
}
#gridContainer {
  display: grid;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 50px;
}
.photoOverlayR {
  position: relative;
  background-color: gray;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  height: 200px;
  width: 98.9vw;
  transition: height 1s ease-in-out, width 1s ease-in-out, opacity 1s ease;
  z-index: 0;
}
.photoOverlayL {
  position: relative;
  background-color: gray;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  height: 200px;
  width: 98.9vw;
  transition: opacity 1s ease;
  z-index: 0;
}
.imageRow h4 {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
}
#img-1 {
  background-image: url('../img/conveniencePhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-size: cover;
  background-position: 50% 85%;
}
#overlay-1 > h3 {
  color: white;
  font-family: 'Lowvetica', sans-serif;
  margin: 0px;
  font-size: 4em;
  position: relative;
  padding-top: 2vh;
  padding-left: 70%;
}
.photoOverlayR:hover, .photoOverlayL:hover {
  opacity: 0.9;
}
#img-2 {
  background-image: url('../img/efficiencyPhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-position: 73% 59%;
}
#overlay-2 {
  background-color: #cea589;
}
#overlay-2>h3 {
  color: white;
  font-family: 'Lowvetica', sans-serif;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 8%;
}
#img-3 {
  background-image: url('../img/partnershipPhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-position: 31% 33%;
  background-size: 110%;
}
#overlay-3>h3 {
  color: white;
  font-family: 'Lowvetica', sans-serif;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 70%;
}
#img-4 {
  background-image: url('../img/productivityPhoto.jpg');
  background-repeat:space;
  background-color: #FF931E;
  background-position: 21% 53%;
  background-size: 100%;
}
#overlay-4>h3 {
  color: white;
  font-family: 'Lowvetica', sans-serif;
  margin: 0px;
  font-size: 4em;
  padding-top: 2vh;
  padding-left: 8%;
}
.backgroundBlend {
  background-blend-mode:luminosity;
}
.contactUs {
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 10px;
  background-color: #ff931E;
}
.contactGridContainer {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template: 50px 150px 150px/ auto 250px 250px auto;
  font-family: "Dejavu sans", sans-serif;
  padding-right: auto;
}
.contactGridContainer h3 {
  text-align: center;
}
.contactGridContainer h4 {
  text-align: center;
  margin-bottom: 3px;
}
.contactGridContainer h6{
  margin-bottom: 3px;
  margin-top: 4px;
  margin-left: 5em;
}
#contact-1 {
  grid-column: 2 / span 2;
}
.contactGridContainer p {
  margin-top: 1px;
  margin-bottom: 3px;
  text-align: center;
}
#contact-2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}
#contact-3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}
#scrollPrompt {
  position: fixed;
  width: 100%;
  bottom: 0;
  /* bottom: -21vh; */
  background-color: #ff931e;
  height: 6%;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 3px;
  cursor: context-menu;
}
#scrollPrompt > p {
  padding: 1%;
  margin: auto;
  font-weight: bold;
}
#returnPrompt {
  position: fixed;
  width: 100%;
  bottom: -10vh;
  /* bottom: -21vh; */
  background-color: #ff931e;
  height: 6%;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 3px;
  cursor: pointer;
}
#returnPrompt > p {
  padding: 1%;
  margin: auto;
  font-weight: bold;
}
.customerInfo {
  display: block;
  top: 30%;
  left: 30%;
  position: absolute;
  padding: 20px 60px;
  font-family: "Dejavu sans", sans-serif;
  background-color: #3d4756;
  z-Index: 4;
  visibility: hidden;
  color: white;
}
input {
  border-radius: 1px;
  margin-top: 5px;
  margin-bottom: 6px;
  padding: 2px;
  width: 195px;
}
input[type='submit'] {
  padding: 6px 20px;
  border-radius: 2px;
  color: white;
  background-color: #0a801f;
  font-weight: bold;
  font-family: Helvetica;
  border: 0px;
  /* border-radius: 0px; */
  font-size: 1.3em;
  margin-left: 106px;
  margin-top: 10px;
}
input[type='submit']:hover {
  background-color: #0f9828;
}
.customerInfo h4 {
  text-align: center;
}
label {
  margin: auto;
}
.formGrid {
  display: grid;
  grid-template: 50px 50px 50px/ 1fr 1fr;
  grid-gap: 3px;
}
