body {
  margin: 0px;
}
.topnav {
  position:relative;
  top: 87vh;
  min-height: 12vh;
  background-color: #FF931E;
  width: 100%;
}
.logo {
  max-height: 8vh;
  margin: 2vh;
  margin-left: 50px;
  display: inline;
  border: 2px solid #222;
}
button {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  border-radius: 2px;
  background-color: #FF931E;
  padding: 0.7em 0.8em;
  border: 0px;
  height: 8vh;
  color: #1d1d1d;
}
button:hover {
  box-shadow: 4px 5px 20px #222;
}
ul {
  padding-top: 1vh;
  padding-right: 4vw;
  float: right;
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}
li {
  padding-left: 1vw;
  display: inline;
}
