.printer-container{
}
.printer-body{
  position:absolute;
  /* margin:auto; */
  top: 120px;
  right: 140px;
}
.printer-body{
  background-color:#ffffa8;
  border-width:4px;
  border-style:solid;
  border-color:#a27272;
  width:300px;
  height:200px;
  border-radius:11%;
}
.printer-tray-2{
  z-index:0;
  background-color:#ffffa8;
  border-width: 3px;
  border-style: solid;
  border-color: #a27272;
  width: 150px;
  height: 230px;
  border-radius: 3%;
  position: absolute;
  left: 13px;
  top: 8px;
}
.printer-tray{
  z-index:1;
  background-color:#ffffa8;
  border-width: 3px;
  border-style: solid;
  border-color: #a27272;
  width: 180px;
  height: 30px;
  border-radius: 17%;
  position: absolute;
  left: 54px;
  top: 50px;
}

.printer-tray-lines{
  z-index:1;
  display: grid;
  position: absolute;
  grid-template: 170px/40px 40px;
  border-left: 2px solid #a27272;
  border-right: 2px solid #a27272;
  top: 50px;
  left: 33px;
}
.printer-tray-lines>div:nth-child(1){
  border-right:1px solid #a27272;
}
.printer-tray-lines>div:nth-child(2){
  border-left:1px solid #a27272;
}
.printer-controls{
  border-width: 3px;
  border-style: solid;
  border-color: #a27272;
  width: 30px;
  height: 60px;
  border-radius: 15%;
  position: relative;
  top: 105px;
  left: 251px;
}
.printer-btn1{
  background-color:darkgreen;
  border-width: 1px;
  border-style: solid;
  border-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  top: 10px;
  left: 4px;
}
.printer-btn1>div{
  background-color:lightgreen;
  position: inherit;
  border: inherit;
  border-radius: 12%;
  width: 2px;
  height: 11px;
  top: 3px;
  left: 8px;
}
.printer-btn2{
  background-color:pink;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: 12px;
  left: 3px;
}
@keyframes blinker {
    from{ background-color:darkgreen; }
    to{ background-color:#00ff11}
    /* 20% { background-color:darkgreen;} */
}
.blinking {
    animation-name: blinker;
    animation-duration:1.7s;
    animation-timing-function:steps(2);
    animation-iteration-count: infinite;
}
